// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $white;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  small {
    font-size: .65em;
  }
}

p code {
  background-color: rgba(120,120,120,0.1);
  padding: 1px;
}

blockquote {
  background-color: rgba(120,120,120,0.1);
  padding-left: 1rem;
  border-left: 5px gray solid;
}

ul {
  li {
    p {
      margin-bottom: 0;
    }
    margin-bottom: 1em;
  }
}

.post pre.highlight {
  padding: .5em;
}

.post pre code {
  word-break: break-all;
  white-space: break-spaces;
}

.post p:has(img) {
  text-align: center;
}

.post p img {
  max-width: 100%;
}

body{
  @include serif;
  color: $text_color;
  line-height: 1.5;
}

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}

::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}

.hr-dotted {
  border-top: var(--bs-border-width) dashed;
  opacity: .15;
}
