// Resume styles
// ---------------------------------------/

.avatar {
  width: 120px;
  max-width: 100%;
  overflow: hidden;
  @include border-radius(100px);
  margin: 0 auto;
  display: block;
}

.flag img {
  width: 32px;
  height: 100%;
}

.text-center{
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.hr-dotted {
  border-top-style: dashed;
  border-top-width: var(--pico-outline-width);
}

.text-decoration-none{
  text-decoration: none;
}

code {
  color: var(--pico-primary-hover)
}
