<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %} pt-2" hx-boost="true">
    <div class="container-fluid">
      <div class="row justify-content-center">
        {% include header.html %}
        <article>
          <hgroup>
            <h1>
              {{ page.title | markdownify }}
            </h1>
            <p>
              📆: {{ page.date | date: "%Y-%m-%d" }} - 🏷: {{ page.tags | join: ', '}}
            </p>
          </hgroup>
          <hr class="hr-dotted">
          {{ content }}
        </article>
      </div>
    </div>

    {% if page.extras.mermaid %}
    <script type="text/javascript" src="{{ 'js/mermaid_10.4.0_dist.min.js' | relative_url }}"></script>
    {% endif%}
  </body>
</html>
